.nav-link {
  padding: 50px;
}

.items {
  padding: 14px;
  font-size: 30px;
}

#imgchanger {
  display: flex;
  justify-content: center;
  width: 100%;
}

#bgbtn {
  width: 2%;
}

footer {
  width: 100%;
}
